# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# ======================
# Entorno y secretos
# ======================
.env
*.env

# ======================
# Bases de datos
# ======================
*.db
*.sqlite
*.sqlite3

# ======================
# Pytest / Testing
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# Logs
# ======================
*.log

# ======================
# IDEs / Editores
# ======================
.vscode/
.idea/

# ======================
# Sistema
# ======================
.DS_Store
Thumbs.db